/* simpler vertical control; to use, uncomment the following*/
/*
body .flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3);  }
body .flex-direction-nav .flex-prev { left: 0; }
body .flex-direction-nav .flex-next { right: 0; text-align: right; }
body .flexslider:hover .flex-prev { opacity: 0.7; left: 0px; }
body .flexslider:hover .flex-next { opacity: 0.7; right: 0px; }
*/

body .flex-direction-nav a {
  overflow: visible;
}
body .flex-direction-nav a:before {
  font-size: 2em;
}

body .flexslider:hover .flex-direction-nav .flex-next:hover:before,
body .flexslider:hover .flex-direction-nav .flex-prev:hover:before{
  color: red;
}

/* bugfix, see https://github.com/woocommerce/FlexSlider/issues/1491 */
body .flexslider {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* Reset so that template css will not interfere with flexslider*/
body .flexslider ul,
body .flexslider ul.slides,
body .flexslider ul.slides li {
    margin: 0;
    padding:0;
}
body .flexslider ul.flex-direction-nav li {
   list-style-type: none;
}
body .flexslider ul.slides li img {
    margin:0;
}
body .flexslider ul.slides li:before{
    content:"" !important;
    content:none !important;
}
body .flexslider ul.slides li div.flex-text ul > li {
    overflow-y:visible;
}

/*==================================*/
/* Setting for text only slides     */
body .flexslider ul.slides li div.flex-text {
    margin:10% 15% 0;
    border:.5em solid #eee;
    padding:1em 1em 0;
    border-radius:.5em;
}
body .flexslider ul.slides li div.flex-text h1,
body .flexslider ul.slides li div.flex-text h2,
body .flexslider ul.slides li div.flex-text h3,
body .flexslider ul.slides li div.flex-text h4,
body .flexslider ul.slides li div.flex-text h5,
body .flexslider ul.slides li div.flex-text h6 {
    margin-top:0;
}
body .flexslider ul.slides li div.flex-text ul {
    list-style:square outside none;
}
body .flexslider ul.slides li div.flex-text ul,
body .flexslider ul.slides li div.flex-text ol {
    margin:1em 0;
    padding-left:1.75em;
}
body .flexslider ul.slides li div.flex-text ul ul,
body .flexslider ul.slides li div.flex-text ul ol,
body .flexslider ul.slides li div.flex-text ol ol,
body .flexslider ul.slides li div.flex-text ol ul {
    margin:0;
}


/* Settings for image text */
body .flexslider ul.slides li p.flex-caption {
    width: 100%;
    padding: 2px 0;
    margin:0;
    display:inline-block;
    text-align:center;
}
body .flexslider ul.slides li p.flex-normal {
}
body .flexslider ul.slides li p.flex-inverted {
    letter-spacing:1px;
    font-size:1em;
    color:white;
    font-weight:bold;
    background:#777;
    text-shadow: 2px 2px 6px  #000;
}
/* This setting is for overlay text */
body .flexslider .slides>li {
    position: relative
}
body .flexslider ul.slides li p.flex-overlay {
    width: 96%;
    padding: 2%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-weight:bold;
    letter-spacing:1px;
}
body .flexslider ul.slides li p.flex-overlay2 {
    width: 96%;
    padding: 0 2%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #000;
    text-shadow: 1px 1px 4px rgba(255,255,255,.7), -1px -1px 4px  rgba(255,255,255,.7), 1px -1px  4px rgba(255,255,255,.7), -1px 1px  4px rgba(255,255,255,.7), 1px 1px 4px  rgba(255,255,255,.7), -1px -1px 4px  rgba(255,255,255,.7), 1px -1px  4px rgba(255,255,255,.7), -1px 1px  4px rgba(255,255,255,.7);
    font-weight:bold;
    letter-spacing:1px;
}
body .flexslider ul.slides li p.flex-overlay3 {
    position: absolute;
    left: 0;
    bottom: 15%;
    background: rgba(0,0,0,.3);  
    color: #fff;
    font:bold 60px sans-serif;
    padding:2%;
    width:50%;
    text-align:center;
    overflow-y: hidden;
}
@media (max-width: 979px) {
    body .flexslider ul.slides li p.flex-overlay3 {
     font-size: 6vmin;
    }
}

body .flexslider ul.slides li a:hover p {
    text-decoration: underline;
}
body a:hover p.flex-inverted {
    background:#f77;
}


/* Navigation for static "slider" */
body .extradirnav {
    font-size:1.4em;
}
body .extradirnav a {
    text-decoration:none;
    color:#555;
    font-family: "flexslider-icon" !important;
}
body .extradirnav a:hover {
    color:red;
}
body .flexfullsize {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:10000;
    background:rgba(0,0,0,.7);
}
body input.flexfullsizebutton {
    vertical-align:sub;
    width:20px;
    height:20px;
    position:relative;
    z-index:0;
}
body input.flexfullsizebutton:hover {
    background:#fbb;
}
body .flexfullsize .flexslider ul.slides li p.flex-normal {
    position: absolute;
    bottom: 0;
    background:white;
}
body .flexfullsize .flexslider ul.slides li p.flex-inverted {
    position: absolute;
    left: 0;
    bottom: 0;
}
